<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dev.chillvibes.myndvault</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myndVaultScheme</string>
			</array>
		</dict>
	</array>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Mnimi is requesting your permission to create events in your Calendar.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Mnimi needs access to your reminders to create tasks when you want to</string>
	<key>UIAppFonts</key>
	<array>
		<string>NewYorkItalic.ttf</string>
		<string>SF-Mono-Semibold.otf</string>
		<string>NewYork.ttf</string>
	</array>
</dict>
</plist>
