<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
	<key>PINECONE_KEY</key>
	<string>c49e248f-a8f0-4e0e-8609-515995ecc92a</string>
	<key>REVENUE_KEY</key>
	<string>appl_QSOLqTJpUPYDMxEdVBDVJWgaVNk</string>
</dict>
</plist>
